---
layout: index
title: 汉正检测技术有限公司
---
    {% include indexnav.html %}
	{% include header.html %}
	<section class="bg-primary" id="about">
		<div class="header-content">
			<div class="header-content-inner">
				<div class="container">
						<div class="col-lg-8 col-lg-offset-2 text-right">
							<h2 class="section-heading">汉正检测</h2>
							<!--<h3 class="section-heading">方法科学 行为公正 测量准确 服务及时</h3>-->
							<hr class="light right">
                            <p><strong>汉正检测</strong><small>技术有限公司成立于2016年，位于四川省广汉市三亚路一段，隶属宏华集团管理。</small></p>
							<p class="text-left"><small>从事<strong>金属材料性能检测</strong>(力学性能,金相分析,化学分析)及其<strong>无损探伤</strong>(超声波,磁粉,射线,渗透),石油钻机和修井机井架的<strong>应力测试</strong>,<strong>钻机成套设备检测</strong>(游车,大钩,水龙头,提升滑轮,吊环,顶驱,井架,底座,天车,泥浆泵,绞车,转盘,节流压井管汇,高压管汇,固控系统,电控系统等),<strong>焊接工艺评定</strong>,<strong>油品检测</strong>,<strong>计量检定</strong>(长度,压力,热工)等检测工作。</small></p>
							<a href="#services" class="btn btn-default btn-xl page-scroll">业务咨询</a>
						</div>
				</div>
			</div>
		</div>
	</section>
	
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">业务简介</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center" id="mp">
                    <a class="service-box btn btn-link" role="button" href="service.html">
                        <i class="fa fa-4x fa-flask wow bounceIn text-primary"></i>
                        <h3>理化</h3>
                    </a>
                    <p class="text-muted lead">力学性能<br>化学分析<br>金相检测</p>
                </div>
                <div class="col-lg-3 col-md-6 text-center" id="ndt">
                    <a class="service-box btn btn-link" role="button" href="service.html">
                        <i class="fa fa-4x fa-laptop wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>无损</h3>
                    </a>
                    <p class="text-muted lead">超声波检测<br>射线检测<br>磁粉检测<br>渗透检测</p>
                </div>
                <div class="col-lg-3 col-md-6 text-center" id="mt">
                    <a class="service-box btn btn-link" role="button" href="service.html">
                        <i class="fa fa-4x fa-cubes wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>计量</h3>
                    </a>
                    <p class="text-muted lead">热工仪表检定<br>热电偶检定<br>压力表检定<br>百分表检定<br>千分尺,游标卡尺检定</p>
                </div>
                <div class="col-lg-3 col-md-6 text-center" id="pt">
                    <a class="service-box btn btn-link" role="button" href="service.html">
                        <i class="fa fa-4x fa-server wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>产品检测</h3>
                    </a>
                    <p class="text-muted lead">应力测试<br>产品检测</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
    {% include aside.html %}
    <nav class="navbar navbar-default" id="certificate">
        <div class="container-fluid center">
            <div class="fluid-content">
                <div class="fluid-content-inner">
                    <p>资质证书</p>
                </div>
            </div>
        </div>
    </nav>
        
    <section class="top">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-2 col-sm-4 col-xs-6">
                    <a class="certificate-box">
                        <div class="certificate-box-tag"><i class="fa fa-2x fa-paperclip"></i></div>
                        <img src="./img/certificate/license.jpg" class="img-responsive center" alt="">
                        <div class="certificate-box-caption">
                            <div class="certificate-box-caption-content">             
                                <div class="certificate-category text-faded">
                                    
                                </div>
                                <div class="certificate-name">
                                    营业执照
                                </div>
                            </div>  
                        </div>
                    </a>  
                </div>
                <!--<div class="col-lg-2 col-sm-4 col-xs-6">
                    <a class="certificate-box">
                        <div class="certificate-box-tag"><i class="fa fa-2x fa-paperclip"></i></div>
                        <img src="./img/certificate/cer1.jpg" class="img-responsive center" alt="">
                        <div class="certificate-box-caption">
                            <div class="certificate-box-caption-content">             
                                <div class="certificate-category text-faded">
                                    专业领域2
                                </div>
                                <div class="certificate-name">
                                    证书名称2
                                </div>
                            </div>  
                        </div>
                    </a>  
                </div>
                <div class="col-lg-2 col-sm-4 col-xs-6">
                    <a class="certificate-box">
                        <div class="certificate-box-tag"><i class="fa fa-2x fa-paperclip"></i></div>
                        <img src="./img/certificate/cer1.jpg" class="img-responsive center" alt="">
                        <div class="certificate-box-caption">
                            <div class="certificate-box-caption-content">             
                                <div class="certificate-category text-faded">
                                    专业领域3
                                </div>
                                <div class="certificate-name">
                                    证书名称3
                                </div>
                            </div>  
                        </div>
                    </a>  
                </div>
                <div class="col-lg-2 col-sm-4 col-xs-6">
                    <a class="certificate-box">
                        <div class="certificate-box-tag"><i class="fa fa-2x fa-paperclip"></i></div>
                        <img src="./img/certificate/cer1.jpg" class="img-responsive center" alt="">
                        <div class="certificate-box-caption">
                            <div class="certificate-box-caption-content">             
                                <div class="certificate-category text-faded">
                                    专业领域4
                                </div>
                                <div class="certificate-name">
                                    证书名称4
                                </div>
                            </div>  
                        </div>
                    </a>  
                </div>
                <div class="col-lg-2 col-sm-4 col-xs-6">
                    <a class="certificate-box">
                        <div class="certificate-box-tag"><i class="fa fa-2x fa-paperclip"></i></div>
                        <img src="./img/certificate/cer1.jpg" class="img-responsive center" alt="">
                        <div class="certificate-box-caption">
                            <div class="certificate-box-caption-content">             
                                <div class="certificate-category text-faded">
                                    专业领域5
                                </div>
                                <div class="certificate-name">
                                    证书名称5
                                </div>
                            </div>  
                        </div>
                    </a>  
                </div>
                <div class="col-lg-2 col-sm-4 col-xs-6">
                    <a class="certificate-box">
                        <div class="certificate-box-tag"><i class="fa fa-2x fa-paperclip"></i></div>
                        <img src="./img/certificate/cer1.jpg" class="img-responsive center" alt="">
                        <div class="certificate-box-caption">
                            <div class="certificate-box-caption-content">             
                                <div class="certificate-category text-faded">
                                    专业领域6
                                </div>
                                <div class="certificate-name">
                                    证书名称6
                                </div>
                            </div>  
                        </div>
                    </a>  
                </div>-->
            </div>  
    </section>
    
    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box text-center">
                        <img src="./img/portfolio/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    德国蔡司
                                </div>
                                <div class="project-name">
                                    金相显微镜
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <img src="./img/portfolio/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                   
                                </div>
                                <div class="project-name">
                                    碳硫仪
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <img src="./img/portfolio/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    
                                </div>
                                <div class="project-name">
                                    万能工具显微镜
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <img src="./img/portfolio/5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    海克斯康
                                </div>
                                <div class="project-name">
                                    龙门式三坐标
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <img src="./img/portfolio/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    
                                </div>
                                <div class="project-name">
                                    油品分析仪
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box">
                        <img src="./img/portfolio/7.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    牛津
                                </div>
                                <div class="project-name">
                                    台式光谱仪
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
