<footer>
    <section id="contact" class="default">
        <div class="container">
            <hr class="default" />
            <div class="row">
                <div class="col-lg-12 ">
                    <h2 class="section-heading aside" id="left">联系我们</h2>
                    <hr class="light">
                    <p class="aside">联系方式</p>
                </div>
                <div class="col-lg-3">
                    <div class="row">
                        <div class="col-lg-2 text-center" id="center">
                            <a href="#">
                                <i class="fa fa-weixin wow bounceIn" data-wow-delay=".1s"></i>
                                <br>
                                <div class="abbre">Wechat</div>
                            </a>
                        </div>
                        <div class="col-lg-10" id="left">
                            <a>
                                <p>
                                    微信公众号:
                                    <br> 公众号号码
                                    <br> 关注我们:
                                    <br> 二维码
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="row">
                        <div class="col-lg-2" id="center">
                            <a>
                                <i class="fa fa-envelope wow bounceIn" data-wow-delay=".1s"></i>
                                <br> Email
                            </a>
                        </div>
                        <div class="col-lg-10" id="left">
                            <address>
                                <a href="mailto: gaoyh@hanzhengt.com.cn" class="text-uppercase">gaoyh@hanzhengt.com.cn</a>
                                <br>
                                <a href="mailto: gaoyh1@hhcp.com.cn" class="text-uppercase">gaoyh@hhcp.com.cn</a>
                            </address>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="row">
                        <div class="col-lg-2" id="center">
                            <a>
                                <i class="fa fa-phone wow bounceIn" data-wow-delay=".1s"></i>
                                <br> Phone
                            </a>
                        </div>
                        <div class="col-lg-10" id="left">
                            <a>
                            086-0838-xxxxxxx
                            <br>
                            086-0838-xxxxxxx
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="row">
                        <div class="col-lg-2" id="center">
                            <a>
                                <i class="fa fa-map-marker wow bounceIn" data-wow-delay=".1s"></i>
                                <br>
                                <div class="abbre">Address</div>
                            </a>
                        </div>
                        <div class="col-lg-10" id="left">
                            <address>
                                <a>
                                广汉市经济开发区
                                <br>
                                三亚路一段
                                <br>
                                四川省，广汉市
                                <br>
                                </a>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="default" />
            <div class="row">
                <div class="col-lg-6" id="right">
                    Copyright 2016 Hanzheng Testing Co.ltd
                    <br> By <i class="fa fa-github"></i><a href="/www.github.com/minerplus/minerplus.github.io"> Yang</a>. All Rights Reserved.
                </div>
                <div class="col-lg-6" id="left">
                    <img src="/img/logo2.png" alt="" />
                </div>
            </div>
        </div>
    </section>
</footer>
