<section class="header">
    <div class="header-content container-fluid no-padding" id="head-pic">
        <div class="header-content-box">
            <div id="#equip-carousel" class="carousel slide" data-ride="carousel">
                <!--indicators-->
                <ol class="carousel-indicators">
                    <li data-target="#equip-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#equip-carousel" data-slide-to="1"></li>
                    <li data-target="#equip-carousel" data-slide-to="2"></li>
                    <li data-target="#equip-carousel" data-slide-to="3"></li>
                </ol>
                <!--wrapper for slides-->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="/img/equip/hex.jpg" class="img-responsive">
                        <div class="header-content-caption">
                            word1
                        </div>
                    </div>
                    <div class="item">
                        <img src="/img/equip/thermo.jpg" class="img-responsive">
                        <div class="header-content-caption">
                            word2
                        </div>
                    </div>
                    <div class="item">
                        <img src="/img/equip/topdriver.jpg" class="img-responsive">
                        <div class="header-content-caption">
                        </div>
                    </div>
                    <div class="item">
                        <img src="/img/equip/lasergen.jpg" class="img-responsive">
                        <div class="header-content-caption">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="header-content-inner visible-xs-block">
                <h3>汉正检测技术有限公司</h3>
                <h5 id="eu">Hanzheng Testing Technology co.,ltd</h5>
                <hr class="left">
                <div class="row">
                    <a href="#downloads" class="btn btn-primary btn-xl page-scroll" data-toggle="button">立刻下载</a>
                    <a href="#about" class="btn btn-info btn-xl page-scroll" data-toggle="button">了解更多</a>
                </div>
            </div>
        </div>
        <div class="header-content-inner no-padding">
            <div class="header-content-list no-padding">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-3" id="right">
                        <i class="fa fa-2x fa-gears"></i> 方法科学
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-3" id="left">
                        <i class="fa fa-2x fa-balance-scale"></i> 行为公正
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-3" id="right">
                        <i class="fa fa-2x fa-gg"></i> 测量准确
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-3" id="left">
                        <i class="fa fa-2x fa-users"></i> &nbsp&nbsp服务及时
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>